body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', Arial, sans-serif;
    background-color: #FEF47F;
}

.container {
    width: 250px; /* Reduzindo a largura do container */
    margin: 140px auto; /* Centralizando o container na horizontal */
    padding: 20px;
    background-color: transparent;
}

.container h1 {
    font-family: 'Times New Roman', sans-serif;
    color: #30168b;
    text-align: center;
    margin-bottom: 20px; /* Reduzindo a margem inferior */
    font-size: 40px; /* Reduzindo o tamanho da fonte */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Usando a largura total do container */
    padding: 10px; /* Reduzindo o preenchimento */
    margin-top: 10px; /* Reduzindo a margem superior */
    margin-bottom: 10px; /* Reduzindo a margem inferior */
    border: none;
    border-radius: 5px; /* Reduzindo o raio da borda */
    font-size: 20px; /* Reduzindo o tamanho da fonte */
}

.forgot-password {
    color: #30168b;
    font-size: 12px; /* Reduzindo o tamanho da fonte */
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

.login-btn,
.register-btn {
    width: 100%;
    padding: 15px; /* Reduzindo o preenchimento */
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; /* Reduzindo o tamanho da fonte */
    margin-bottom: 10px; /* Reduzindo a margem inferior */
}

.login-btn {
    background-color: #30168b;
    color: #fff;
    border: none;
}

.register-btn {
    background-color: #fcf47c;
    color: #FF0000;
    border: 2px solid #FF0000;
}

.register-btn:hover {
    background-color: #FF0000;
    color: #fff;
}

input[type="text"],
input[type="password"] {
    background-color: #fcd47c;
    color: #FF0000;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #FF0000;
}

.logo {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    width: 200px; /* Reduzindo o tamanho da logo */
    height: auto;
}

.loginimg {
    position: absolute;
    top: 45px;
    left: 50px;
    width: 200px; /* Reduzindo o tamanho da imagem */
    height: auto;
}
