/* Estilo geral */
body {
    font-family: sans-serif;
    display: flex; /* Permite que os elementos ocupem todo o espaço vertical disponível */
    flex-direction: column; /* Organiza os elementos verticalmente */
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da tela */
}

/* Cabeçalho */
header {
    background-color: #2a1289; /* Altera a cor de fundo do cabeçalho */
    height: 100px; /* Altura do cabeçalho */
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 378.61px; /* Define a largura exata da barra de pesquisa */
    height: 48px; /* Define a altura exata da barra de pesquisa */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para profundidade */
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px 15px; /* Ajusta o padding para um melhor espaçamento */
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 8px 0 0 8px; /* Adiciona bordas arredondadas na entrada de texto */
    height: 100%; /* Garante que o input ocupe toda a altura da barra de pesquisa */
}

.search-bar input[type="text"]::placeholder {
    color: #aaa; /* Cor do placeholder */
}

/* Cabeçalho */
header {
    background-color: #2a1289; /* Altera a cor de fundo do cabeçalho */
    height: 100px; /* Altura do cabeçalho */
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.title-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logohome {
    height: 80px; /* Ajusta a altura da logo para caber no cabeçalho */
    margin-right: 20px; /* Espaçamento entre a logo e a navegação */
}

.cabecalho__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0 20px; /* Espaçamento entre a lista e os outros elementos */
}

.lista__link a {
    text-decoration: none;
    color: #fff680; /* Fonte */
    margin-left: 1em;
}

.lista__link a:hover {
    color: #f54747; /* Contraste do link ao passar o mouse */
}

.lista__link a:active {
    color: #fff680;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 378.61px; /* Define a largura exata da barra de pesquisa */
    height: 48px; /* Define a altura exata da barra de pesquisa */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para profundidade */
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px 15px; /* Ajusta o padding para um melhor espaçamento */
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 8px 0 0 8px; /* Adiciona bordas arredondadas na entrada de texto */
    height: 100%; /* Garante que o input ocupe toda a altura da barra de pesquisa */
}

.search-bar input[type="text"]::placeholder {
    color: #aaa; /* Cor do placeholder */
}

.search-bar button {
    background-color: #b29af3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%; /* Garante que o botão ocupe toda a altura da barra de pesquisa */
}

.search-bar button:hover {
    background-color: #8a6bc8;
}

.search-bar button:focus {
    outline: none;
}

@media (max-width: 600px) {
    .search-bar {
        margin: 10px 0; /* Ajusta a margem em telas menores */
        flex-direction: column; /* Empilha os elementos verticalmente em telas pequenas */
        align-items: stretch;
        width: auto; /* Permite que a largura se ajuste automaticamente em telas pequenas */
        height: auto; /* Permite que a altura se ajuste automaticamente */
    }

    .search-bar input[type="text"], .search-bar button {
        border-radius: 8px; /* Bordas arredondadas em todos os lados */
        width: 100%; /* Ocupa toda a largura */
        margin: 5px 0; /* Espaçamento entre os elementos */
        height: 40px; /* Altura fixa para os elementos empilhados */
    }

    .search-bar button {
        border-radius: 0 0 8px 8px; /* Ajusta as bordas arredondadas */
    }
}

nav {
    margin-top: 20px; /* Espaçamento entre o logotipo e as abas */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Exibe os itens da lista em linha */
}

nav li {
    margin-right: 20px; /* Espaçamento entre os itens da lista */
}

nav li:last-child {
    margin-right: 0; /* Remove o espaçamento do último item da lista */
}

main {
    flex: 1; /* Flex-grow com valor alto */
    background-color: #fff680;
}

.featured-restaurants {
    background-color: #FEF47F; /* Altera o background da região em destaque */
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Centraliza o conteúdo */
    margin: 50px auto 0; /* Adiciona margem superior maior e centraliza horizontalmente */
}

.restaurant-box {
    flex: 0 1 calc(30% - 20px); /* Define a largura flexível das caixas dos restaurantes e desconta a margem */
    margin: 0 10px; /* Adiciona margem entre as caixas dos restaurantes */
    text-align: center; /* Centraliza o conteúdo */
    box-sizing: border-box; /* Inclui a borda e o preenchimento na largura e na altura */
}

.restaurant-box:hover img {
    transform: scale(1.1); /* Aumenta a escala da imagem em 10% quando o mouse estiver sobre ela */
    transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito */
}

.restaurants {
    display: flex; /* Torna o contêiner de restaurantes um flex container */
    justify-content: space-between; /* Distribui o espaço entre os itens */
}

.promocoes {
    display: block;
    margin: 0 auto;
}

.promocoes-carrosel {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

.promo-container {
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px; /* Adiciona espaçamento entre os itens */
}

.promo-item {
    flex: 0 0 calc(33.33% - 10px); /* Largura dinâmica para cada item */
    border-radius: 10px; /* Borda arredondada */
    overflow: hidden; /* Garante que a borda arredondada seja aplicada */
}

.promo-item img {
    width: 100%; /* Imagens responsivas */
    height: auto;
    border-radius: 10px; /* Borda arredondada */
    overflow: hidden; /* Garante que a borda arredondada seja aplicada */
}

.promocoes-carrosel .prev,
.promocoes-carrosel .next {
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: #333;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%; /* Borda arredondada para os botões */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.promocoes-carrosel .prev:hover,
.promocoes-carrosel .next:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo ao passar o mouse */
}

.promocoes-carrosel .prev {
    left: 10px; /* Posicionamento à esquerda */
    transform: translateY(-50%);
}

.promocoes-carrosel .next {
    right: 10px; /* Posicionamento à direita */
    transform: translateY(-50%);
}

.rodape {
    text-align: center;
    background-color: #2a1289; /* Fundo */
    color: #fff680; /* Fonte */
}
.rodape__logo {
    max-width: 150px; /* Ajuste o tamanho conforme necessário */
    height: center;
}
.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__link a {
    text-decoration: none;
    color: #fff680; /* Fonte */
}

.rodape__texto {
    color: #fff680; /* Fonte */
    font-size: 14px;
}

.lista__link a:hover {
    color: #f54747; /* Contraste do link ao passar o mouse */
}

.lista__link a:active {
    color: #fff680;
}
