/* Estilo geral */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Permite que os elementos ocupem todo o espaÃ§o vertical disponÃ­vel */
    flex-direction: column; /* Organiza os elementos verticalmente */
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da tela */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-right: 100px; /* Adiciona espaÃ§o Ã  direita do contÃªiner */
}

/* CabeÃ§alho */
header {
    background-color: #30168b; /* Altera a cor de fundo do cabeÃ§alho */
    padding: 20px 0;
    text-align: center; /* Centraliza o conteÃºdo do cabeÃ§alho */
}

.logohome {
	height: 150px; /* Ajuste a altura da logo conforme necessário */
	margin-left: 5px; /* Ajuste a margem esquerda conforme necessário */
}

.title-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FEF47F; /* Altera a cor do tÃ­tulo para #f5e8a0 */
    text-decoration: none; /* Remove sublinhado dos links */
    margin-right: auto;
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-left: auto; /* Empurra o formulÃ¡rio para a direita */
}


.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search-bar button {
    background-color: #b29af3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0; /* Adiciona bordas arredondadas apenas no botÃ£o direito */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #8a6bc8;
}

.search-bar button:focus {
    outline: none;
}

nav {
    margin-top: 20px; /* EspaÃ§amento entre o logotipo e as abas */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block; /* Exibe os itens da lista em linha */
    margin-right: 20px; /* EspaÃ§amento entre os itens da lista */
}

nav li:last-child {
    margin-right: 0; /* Remove o espaÃ§amento do Ãºltimo item da lista */
}

.top-box {
    display: inline-block;
    background-color: #b29af3;
    color: #30198f;
    padding: 10px 20px;
    border-radius: 10px; /* Adiciona bordas arredondadas */
    text-decoration: none;
}

.top-box:hover {
    background-color: #8a6bc8;
}

.top-box:active {
    background-color: #634c94;
}

main {
  flex: 1; /* Flex-grow com valor alto */
  background-color: #FEF47F;
}

.featured-restaurants {
    background-color: #FEF47F; /* Altera o background da regiÃ£o em destaque */
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Centraliza o conteÃºdo */
    margin: 50px auto 0; /* Adiciona margem superior maior e centraliza horizontalmente */
}

.restaurant-box {
    flex: 0 1 calc(30% - 20px); /* Define a largura flexÃ­vel das caixas dos restaurantes e desconta a margem */
    margin: 0 10px; /* Adiciona margem entre as caixas dos restaurantes */
    text-align: center; /* Centraliza o conteÃºdo */
    box-sizing: border-box; /* Inclui a borda e o preenchimento na largura e na altura */
}

.restaurant-box:hover img {
    transform: scale(1.1); /* Aumenta a escala da imagem em 10% quando o mouse estiver sobre ela */
    transition: transform 0.3s ease; /* Adiciona uma transiÃ§Ã£o suave para o efeito */
}


.restaurants {
    display: flex; /* Torna o contÃªiner de restaurantes um flex container */
    justify-content: space-between; /* Distribui o espaÃ§o entre os itens */
}

.promocoes-carrosel {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	width: 80%;
	margin: 0 auto;
}

.promo-container {
	display: flex;
	transition: transform 0.5s ease;
	gap: 10px; /* Adiciona espaçamento entre os itens */
}

.promo-item {
	flex: 0 0 calc(33.33% - 10px); /* Largura dinâmica para cada item */
	border-radius: 10px; /* Borda arredondada */
	overflow: hidden; /* Garante que a borda arredondada seja aplicada */
}

.promo-item img {
	width: 100%; /* Imagens responsivas */
	height: auto;
	border-radius: 10px; /* Borda arredondada */
	overflow: hidden; /* Garante que a borda arredondada seja aplicada */
}

.promocoes-carrosel .prev,
.promocoes-carrosel .next {
	position: absolute;
	top: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	color: #333;
	font-size: 18px;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%; /* Borda arredondada para os botões */
	transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.promocoes-carrosel .prev:hover,
.promocoes-carrosel .next:hover {
	background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo ao passar o mouse */
}

.promocoes-carrosel .prev {
	left: 10px; /* Posicionamento à esquerda */
	transform: translateY(-50%);
}

.promocoes-carrosel .next {
	right: 10px; /* Posicionamento à direita */
	transform: translateY(-50%);
}


.logo-subway {
    max-width: 450px; /* Define a largura mÃ¡xima das imagens */
    height: auto; /* MantÃ©m a proporÃ§Ã£o da imagem */
    margin-bottom: 10px; /* Adiciona espaÃ§o entre a imagem e o texto */
}

footer {
    background-color: #30168b; /* Altera a cor de fundo do rodapÃ© */
    padding: 20px 0;
    text-align: center;
    width: 100%; /* Garante que o rodapÃ© ocupe a largura total da tela */
    bottom: 0; /* Alinha o rodapÃ© Ã  parte inferior da janela de visualizaÃ§Ã£o */
}

footer p {
    color: #f5e8a0; /* Altera a cor do texto */
}
