.promocoes2, .promocoes {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem 6rem 1rem;
}

.promocoes {
    height: 70%;
}

.promocoes2 {
    height: 30%;
}

.promo-container, .promo-container2 {
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px; /* Espaçamento entre os itens */
}

.promocoes-carrosel, .promocoes-carrosel2 {
    position: relative;
    overflow: hidden; /* Certifique-se de que este overflow esteja controlado */
    max-width: 1880px;
    width: 100%;
}

/* Aplicando o box-sizing para controlar bem as bordas */
.promo-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box; /* Certifica que as bordas sejam incluídas no tamanho total */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
    transform-origin: center center; /* Centraliza o zoom para evitar "pulos" */
}

/* Efeito hover: zoom suave e sombra */
.promo-item img:hover {
    transform: scale(1.05); /* Leve zoom ao passar o mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra suave ao redor */
}
