.promocoes2, .promocoes {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem 6rem 1rem;
}

.promocoes {
    height: 70%;
}

.promocoes2 {
    height: 30%;
}

.promo-container, .promo-container2 {
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px; /* Espaçamento entre os itens */
}

.promocoes-carrosel {
    position: relative;
    overflow: hidden;
    max-width: 1880px;
    width: 100%;
}

.promocoes-carrosel2 {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ajuste para 100% da largura do contêiner pai */
    max-width: 1880px; /* Limita a largura máxima */
}

/* Efeito hover nas imagens */
.promo-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease; /* Suave transição para hover */
}

/* Efeito hover: zoom e sombra leve */
.promo-item img:hover {
    transform: scale(1.05); /* Aumenta a imagem suavemente */
    filter: brightness(90%); /* Leve ajuste de brilho */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Sombra suave ao passar o mouse */
}
